# Flutter & Dart
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/*.log

# Django
backend/*.pyc
backend/__pycache__/
backend/db.sqlite3
backend/media/
backend/.env
backend/static/
backend/local_settings.py

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Environment
venv/
env/
.env

# Dependencies
node_modules/
